#container {
	height: 960px;
	width: 960px;
	/*background-color: blue;*/
	display: inline-block;
}

.row {
	height: 60px;
	width: 960px;
	display: block;
	/*background-color: green;*/
}

.square {
	height: 60px;
	width: 60px;
	display: inline-block;
	background-color: white;
}

.draw {
	background-color: black;
}